.itemCount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    margin: 5px;
}

.counterController {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid #FFEB3B;
    border-radius: 3px;
    margin-bottom: 3px;
}

.controlButton {
    background-color: #FFF;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.controlButton:hover {
    color: red;
}

.onAddButton {
    width: 100%;
    background-color: #FFEB3B;
    padding: 5px;
    border-radius: 3px;
    border: none;
}

.onAddButton:hover {
    cursor: pointer;
}